[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
codecov = "*"
django-debug-toolbar = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"

[packages]
collectfast = "*"
dj-database-url = "*"
django = "==4.0.4"
django-debug-toolbar = "*"
django-s3-folder-storage = "*"
gunicorn = "*"
psycopg2-binary = "*"
pytest = "*"
pytest-django = "*"
python-decouple = "*"
sentry-sdk = "*"

[requires]
python_version = "3.9"
