{% extends 'base/base.html' %}
{% load static %}

{% block title %}Python Pro - Home{% endblock title %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="jumbotron">
                <h2>
                    Curso de Python com Luciano Ramalho.
                </h2>
                <h4>Matrículas abertas! Custo R$ 1500,00! </h4>
                <!-- INICIO DO BOTAO PAGSEGURO -->
                <a href="https://pag.ae/7Y1Jvatr9/button" target="_blank"
                   title="Pagar com PagSeguro"><img
                        src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/205x30-pagar.gif"
                        alt="Pague com PagSeguro - é rápido, grátis e seguro!"/></a>
                <!-- FIM DO BOTAO PAGSEGURO -->

                <!--                <h4 class="mr-3">Entre na fila de espera!</h4>-->

                <!--                &lt;!&ndash; Begin Bootstrap auto-sizing &ndash;&gt;-->
                <!--                <form action="https://herokuapp.us14.list-manage.com/subscribe/post?u=a27fdad008252b29f4fb5bfea&amp;id=4d838d0b98"-->
                <!--                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"-->
                <!--                      class="form-row align-items-center" target="_blank" novalidate>-->
                <!--                    <div class="form-row align-items-center">-->
                <!--                        <div class="col-auto">-->
                <!--                            <label class="sr-only" for="mce-EMAIL">Email</label>-->
                <!--                            <input type="email" value="" name="EMAIL" class="form-control required "-->
                <!--                                   id="mce-EMAIL"-->
                <!--                                   placeholder="exemplo@email.com">-->
                <!--                        </div>-->
                <!--                        <div class="col-auto">-->
                <!--                            <label class="sr-only" for="mce-FNAME">Nome</label>-->
                <!--                            <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME"-->
                <!--                                   placeholder="seu nome">-->
                <!--                        </div>-->

                <!--                        &lt;!&ndash; real people should not fill this in and expect good things - do not remove this or risk form bot signups&ndash;&gt;-->
                <!--                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"-->
                <!--                                                                                                  name="b_a27fdad008252b29f4fb5bfea_4d838d0b98"-->
                <!--                                                                                                  tabindex="-1"-->
                <!--                                                                                                  value="">-->
                <!--                        </div>-->

                <!--                        <div class="col-auto">-->
                <!--                            <input type="submit" value="salvar" name="subscribe"-->
                <!--                                   id="mc-embedded-subscribe" class="btn btn-primary">-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </form>-->
                <!--                &lt;!&ndash; End Bootstrap auto-sizing &ndash;&gt;-->

            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h5 class="card-header">
                            Mais detalhes sobre o instrutor.
                        </h5>
                        <div class="card-body">
                            <p class="card-text">
                                <img src="{% static 'img/luciano-ramalho.png' %}" alt="Foto de Luciano Ramalho"
                                     class="img-thumbnail float-left mr-3"/>

                                Ramalho é sócio e professor na <a href="https://pythonpro.com.br/">Python Pro</a> e
                                autor do Livro
                                <a href="https://novatec.com.br/livros/pythonfluente/" target="_blank">Python
                                    Fluente.</a>.
                                Foi diretor técnico do Brasil Online, primeiro portal da Abril S/A na Web.
                                Como instrutor, atendeu clientes como Citibank, CPqD,
                                Serpro, Presidência da República, Globo.com e Itaú.
                                Palestrante em eventos internacionais como FISL, PyCon US e OSCON.
                                Ajudou a criar a Associação Python Brasil e foi seu presidente.
                                É membro da Python Software Foundation e fundador do Garoa Hacker Clube, o primeiro
                                hackerspace do Brasil.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock body %}
